/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/assemblybacterias -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile ISCIII'
  config_profile_description = 'Minimal test dataset to check pipeline function inside the ISCIII High Performance Computer'
  
  // Limit resources so that this can run on GitHub Actions

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed

  single_end = false
  input = "/data/bi/pipelines/pruebas_assemblybact_31_01_2022/samplesheet.csv"
  gram = "+"
  kmerfinder_bacteria_database = "/data/bi/references/kmerfinder/20190108_stable_dirs/bacteria"
  
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes'
}

singularity {
  enabled = true
  autoMounts = true
}

process {

  executor = 'sge'
  queue = 'all.q@obelix10,all.q@obelix11,all.q@obelix12,all.q@obelix13,all.q@obelix08,all.q@obelix09'
  conda = '/data/bi/pipelines/miniconda3/envs/assembly'
  penv = 'openmp'

  withName:KMERFINDER {

    container = '/data/bi/pipelines/kmerfinder_v3.0.2.sif'
  }
}   